#fs .fs-inner .fs-col3 p, #fs .fs-inner .fs-col3 .news_item, #footer .mod_service_unit p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@font-face {
  font-family: iconfont;
  src: url("../font/iconfont.eot") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg") format("svg");
}
html,
body {
  height: 100%;
}

body {
  background-color: #f6f6f6;
}

.iconfont {
  font-family: iconfont !important;
  font-style: normal;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

.index {
  background-color: #f6f6f6;
}

a {
  color: #999;
  text-decoration: none;
  font-size: 12px;
}

.wrap {
  margin: 0 auto;
  width: 1190px;
}

#event {
  position: relative;
  z-index: 30;
  background-color: #de15df;
}
#event .wrap {
  position: relative;
}
#event a {
  display: block;
  width: 100%;
  height: 80px;
  background: url("//img10.360buyimg.com/da/jfs/t12766/56/1504039912/81480/9a9ae3fa/5a2138efN4094ef42.jpg") no-repeat 50% 0;
}
#event #event-close {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
  background: #2d2d2d;
  opacity: .3;
  filter: alpha(opacity=30);
  width: 20px;
  text-align: center;
  line-height: 20px;
}

#shortcut {
  border-bottom: 1px solid #ddd;
  background-color: #e3e4e5;
  font-size: 12px;
}
#shortcut .wrap {
  height: 30px;
  line-height: 30px;
  color: #999;
}
#shortcut .wrap .dropparent {
  position: relative;
  margin-left: 200px;
  height: 28px;
  line-height: 28px;
  margin-top: 2px;
}
#shortcut .wrap .subdrop {
  position: absolute;
  top: 28px;
  left: 0;
  width: 300px;
  z-index: 60;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  display: none;
  padding-top: 10px;
}
#shortcut .wrap .subdrop li {
  float: left;
  border: none;
  width: 20%;
  text-align: center;
}
#shortcut .wrap .dropdown {
  padding-left: 7px;
  padding-right: 7px;
  border: 1px solid #e3e4e5;
  border-bottom: none;
}
#shortcut .wrap .dropdown i {
  color: #f10215;
}
#shortcut .nav-li {
  margin-right: 8px;
}
#shortcut .nav-li li {
  float: left;
  height: 15px;
  line-height: 15px;
  border-left: solid 1px #ccc;
  margin: 8px 0;
  padding: 3px 10px;
  list-style: none;
  position: relative;
  z-index: 21;
}
#shortcut .nav-li li .freereg {
  margin-left: 15px;
  color: #f10215;
}
#shortcut .nav-li li i {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 12px;
  height: 12px;
  line-height: 12px;
}
#shortcut .cw-icon {
  padding-right: 20px !important;
  position: relative;
  float: left;
}
#shortcut .submyjd,
#shortcut .subservice,
#shortcut .subweb {
  position: absolute;
  top: 21px;
  left: -1px;
  width: 280px;
  z-index: 60;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  display: none;
}
#shortcut .submyjd ul,
#shortcut .subservice ul,
#shortcut .subweb ul {
  padding: 10px 0;
}
#shortcut .submyjd .spec,
#shortcut .subservice .spec,
#shortcut .subweb .spec {
  width: 90%;
  font-weight: 700;
  font-size: 12px;
  color: #666;
}
#shortcut .submyjd li,
#shortcut .subservice li,
#shortcut .subweb li {
  border: none;
  width: 40%;
  margin: 2px;
  margin-left: 5px;
}
#shortcut .submyjd .list-top,
#shortcut .subservice .list-top,
#shortcut .subweb .list-top {
  border-bottom: 1px solid #ccc;
}
#shortcut .spesubweb {
  width: 1190px;
  left: -1036px;
  padding: 20px 0;
}
#shortcut .spesubweb ul {
  float: left;
  width: 285px;
  border-right: 1px solid #eee;
  padding-left: 11px;
}
#shortcut .spesubweb ul li {
  padding: 2px 4px;
  width: 25%;
}
#shortcut .spesubweb ul .spec {
  margin: 5px 0;
}

#header .button {
  border-radius: 0;
  right: 0;
  width: 50px;
  height: 35px;
  line-height: 35px;
  border: none;
  background-color: #f10215;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 0;
  outline: none;
}
#header .photo {
  position: absolute;
  right: 65px;
  top: 10px;
  width: 19px;
  height: 15px;
  overflow: hidden;
  cursor: pointer;
  background: url("../img/sprite-photo-search.png") no-repeat;
  cursor: pointer;
}
#header .photo:hover {
  background-position: -30px 0;
}
#header .text {
  left: 0;
  padding: 4px;
  width: 490px;
  height: 25px;
  border: 1px solid #f10215;
  line-height: 25px;
  font-size: 14px;
  color: #989898;
  position: absolute;
  top: 0;
  outline: none;
  color: #666;
}
#header .wrap {
  position: relative;
  z-index: 10;
  height: 140px;
}
#header .wrap .logo {
  position: absolute;
  z-index: 2;
  left: 0;
  top: -31px;
  width: 190px;
  height: 170px;
  box-shadow: 0 -12px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
#header .wrap .logo .logo_tit {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}
#header .wrap .logo .logo_tit_lk {
  overflow: hidden;
  display: block;
  width: 190px;
  height: 170px;
  background-image: url("//misc.360buyimg.com/mtd/pc/index/home/images/logo.v3.jpg");
  background-repeat: no-repeat;
  text-indent: -999px;
}
#header .wrap .search .form {
  position: relative;
  left: 320px;
  top: 25px;
  width: 550px;
  height: 35px;
}
#header .wrap .search .text-ul {
  width: 497px;
  border: 1px solid #CCCCCC;
  position: absolute;
  left: 0;
  top: 33px;
  background-color: white;
  color: #666666;
  z-index: 95;
  font-size: 12px;
  display: none;
}
#header .wrap .search .text-ul li {
  padding: 6px;
  cursor: pointer;
}
#header .wrap #settleup {
  position: absolute;
  right: 99px;
  top: 25px;
}
#header .wrap #settleup .cw-icon {
  padding-right: 20px !important;
  width: 188px;
  height: 33px;
  background-color: #fff;
  text-align: center;
  line-height: 33px;
  overflow: hidden;
  position: relative;
  float: left;
  border: 1px solid #e3e4e5;
}
#header .wrap #settleup .cw-icon .iconfont {
  margin-right: 3px;
  font-size: 16px;
  color: #f10214;
}
#header .wrap #settleup .cw-icon a {
  color: #f10214;
}
#header .wrap #settleup .cw-icon .ci-count {
  position: absolute;
  top: 5px;
  left: 140px;
  right: auto;
  display: inline-block;
  padding: 1px;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  background-color: #f10215;
  border-radius: 7px;
  min-width: 12px;
  text-align: center;
}
#header .wrap #hotwords {
  overflow: hidden;
  position: absolute;
  left: 320px;
  top: 65px;
  width: 550px;
  height: 20px;
  line-height: 20px;
}
#header .wrap #hotwords .style-red {
  color: #f10215;
}
#header .wrap #hotwords a {
  float: left;
  margin-right: 10px;
  white-space: nowrap;
  color: #999;
}
#header .wrap #navitems {
  overflow: hidden;
  position: absolute;
  left: 200px;
  bottom: 0;
  width: 790px;
  height: 40px;
}
#header .wrap #navitems ul {
  float: left;
}
#header .wrap #navitems ul li {
  float: left;
  margin-left: 30px;
}
#header .wrap #navitems a {
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 700;
  color: #555;
}
#header .wrap #navitems a:hover {
  color: #c81623;
}
#header .wrap #treasure {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 190px;
  height: 40px;
}
#header .wrap #treasure a {
  display: block;
  width: 190px;
  height: 40px;
  background: url("//img30.360buyimg.com/da/jfs/t12760/37/1446643649/5567/e1e76c56/5a1fc71aN74be1e33.gif") center no-repeat;
}
#header .fix-search {
  position: relative;
  left: 320px;
  top: 6px;
  width: 550px;
  height: 35px;
}
#header .fix-search input {
  border-color: #efefef;
  background-color: #efefef;
}

#fixhead {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  border-bottom: 2px solid #f10214;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: 0;
  display: none;
}
#fixhead .wrap {
  height: 48px;
}
#fixhead .fix-logo {
  position: absolute;
  left: 0;
  top: 4px;
  width: 125px;
  height: 40px;
}
#fixhead .fix-logo a {
  overflow: hidden;
  display: block;
  width: 125px;
  height: 40px;
  background: url("//img14.360buyimg.com/da/jfs/t7366/203/1731206510/2597/d71c891f/59a056c1N5e4d6940.png") no-repeat;
  text-indent: -999px;
}

#fs {
  position: relative;
  z-index: 9;
  margin-bottom: 10px;
}
#fs .fs-inner {
  position: relative;
  z-index: 1;
  height: 480px;
  background-color: #f6f6f6;
}
#fs .fs-inner .fs-col1,
#fs .fs-inner .fs-col2,
#fs .fs-inner .fs-col3 {
  height: 100%;
}
#fs .fs-inner .fs-col1 {
  width: 190px;
  margin-right: 10px;
}
#fs .fs-inner .fs-col1 .cate_menu {
  overflow: hidden;
  padding: 16px 0;
  height: 448px;
  background-color: #6e6568;
  color: #fff;
}
#fs .fs-inner .fs-col1 .cate_menu_item {
  overflow: hidden;
  padding-left: 12px;
  height: 28px;
  line-height: 28px;
  font-size: 0;
}
#fs .fs-inner .fs-col1 .cate_menu_lk {
  font-size: 14px;
  color: #fff;
}
#fs .fs-inner .fs-col1 .cate_menu_line {
  padding: 0 4px;
  font-size: 12px;
}
#fs .fs-inner .fs-col2 {
  width: 790px;
}
#fs .fs-inner .fs-col2 .slider {
  position: relative;
  margin-bottom: 10px;
  height: 340px;
}
#fs .fs-inner .fs-col2 .slider ul li {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}
#fs .fs-inner .fs-col2 .slider ol {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 20px;
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 10px;
  align-items: center;
  z-index: 5;
}
#fs .fs-inner .fs-col2 .slider ol li {
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  border-radius: 50%;
  text-indent: -9999px;
}
#fs .fs-inner .fs-col2 .slider a {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  display: block;
  width: 30px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: white;
  text-align: center;
  line-height: 60px;
  display: none;
  z-index: 5;
}
#fs .fs-inner .fs-col2 .slider .left {
  left: 0;
}
#fs .fs-inner .fs-col2 .slider .right {
  right: 0;
}
#fs .fs-inner .fs-col2 .slider .active {
  background-color: #DB192A;
}
#fs .fs-inner .fs-col2 .slider-extend {
  margin-left: -10px;
  height: 130px;
}
#fs .fs-inner .fs-col2 .slider_bi {
  overflow: hidden;
  float: left;
  margin-left: 10px;
  width: 390px;
  height: 130px;
}
#fs .fs-inner .fs-col2 .slider_bi_lk {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #666;
}
#fs .fs-inner .fs-col2 .slider_bi_img {
  display: block;
  width: 390px;
  height: 130px;
  border: 0;
  vertical-align: middle;
}
#fs .fs-inner .fs-col3 {
  font-size: 10px;
  margin-left: 10px;
  width: 190px;
  background-color: #fff;
}
#fs .fs-inner .fs-col3 .user {
  padding: 0 15px;
  height: 115px;
  border-bottom: 1px solid #e6e6e6;
}
#fs .fs-inner .fs-col3 .user .user-info {
  overflow: hidden;
  position: relative;
  padding: 15px 0 15px 54px;
  height: 45px;
}
#fs .fs-inner .fs-col3 .user .user-info-img {
  overflow: hidden;
  position: absolute;
  margin-left: -54px;
  width: 50px;
  height: 50px;
}
#fs .fs-inner .fs-col3 .user .user-info-img img {
  display: block;
  height: 40px;
  margin: 5px;
  border-radius: 23px;
}
#fs .fs-inner .fs-col3 .user .user_info_avatar_lk {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
#fs .fs-inner .fs-col3 .user .user-profit {
  overflow: hidden;
  height: 24px;
  font-size: 0;
  margin-right: -10px;
}
#fs .fs-inner .fs-col3 .user .user-profit a {
  display: inline-block;
  margin-right: 10px;
  width: 70px;
  height: 20px;
  border: 2px solid #e01222;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  color: #e01222;
}
#fs .fs-inner .fs-col3 p {
  line-height: 18px;
  margin-top: 4px;
  width: 100%;
  font-size: 10px;
}
#fs .fs-inner .fs-col3 p a:hover {
  color: #f10215;
}
#fs .fs-inner .fs-col3 p .user-info-login,
#fs .fs-inner .fs-col3 p .user-info-reg {
  color: #666;
}
#fs .fs-inner .fs-col3 .news {
  overflow: hidden;
  padding: 0 15px;
  height: 154px;
}
#fs .fs-inner .fs-col3 .news-head {
  padding: 8px 0 4px;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  line-height: 14px;
}
#fs .fs-inner .fs-col3 .news-content,
#fs .fs-inner .fs-col3 .broadcast-content {
  padding: 12px 0;
}
#fs .fs-inner .fs-col3 .broadcast-content {
  display: none;
}
#fs .fs-inner .fs-col3 .line {
  position: absolute;
  bottom: -1px;
  left: -2px;
  width: 28px;
  height: 2px;
  background: #db192b;
}
#fs .fs-inner .fs-col3 .news-more {
  position: absolute;
  right: 0;
  top: 8px;
  color: #666;
}
#fs .fs-inner .fs-col3 .news-first {
  padding-left: 0;
  color: #333;
  padding-right: 12px;
  border-right: 1px solid #dfe0e1;
}
#fs .fs-inner .fs-col3 .news-last {
  padding-right: 0;
  border-right: 0;
  color: #333;
}
#fs .fs-inner .fs-col3 .news_item {
  line-height: 24px;
  max-width: 160px;
  width: 160px;
}
#fs .fs-inner .fs-col3 .news-link {
  color: #666;
}
#fs .service {
  overflow: hidden;
  position: relative;
  height: 210px;
}
#fs .service .service-entry {
  overflow: hidden;
  width: 190px;
}
#fs .service .service-list {
  margin-left: -1px;
  width: 192px;
  height: 210px;
  overflow: hidden;
}
#fs .service .service_item {
  position: relative;
  overflow: hidden;
  float: left;
  width: 47px;
  height: 69px;
  border-top: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}
#fs .service .service_item .service_ico {
  background-image: url("../img/sprite_fs@1x.png");
  background-size: 156px 148px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  display: block;
}
#fs .service .service_item a {
  width: 100%;
  padding-top: 14px;
  height: 55px;
  color: #666;
  position: absolute;
  text-align: center;
}
#fs .service .service_item .service_txt {
  height: 22px;
  line-height: 22px;
  border-top: 2px solid #fff;
}
#fs .service .service_ico_huafei {
  background-position: 0 -88px;
}
#fs .service .service_ico_jipiao {
  background-position: 0 -44px;
}
#fs .service .service_ico_jiudian {
  background-position: -44px -88px;
}
#fs .service .service_ico_huoche {
  background-position: -88px -88px;
}
#fs .service .service_ico_qyg {
  background-position: -88px -44px;
}
#fs .service .service_ico_jiayou {
  background-position: 0 0;
}
#fs .service .service_ico_dianying {
  background-position: -44px -44px;
}
#fs .service .service_ico_youxi {
  background-position: -88px 0;
}
#fs .service .service_ico_zhongchou {
  background-position: -132px 0;
}
#fs .service .service_ico_licai {
  background-position: -132px -44px;
}
#fs .service .service_ico_lipin {
  background-position: -132px -88px;
}
#fs .service .service_ico_baitiao {
  background-position: -44px 0;
}
#fs .service .service_corner {
  position: absolute;
  right: 0;
  top: 0;
  width: 13px;
  height: 16px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background: #e01121;
  color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
#fs .service .service_corner i {
  vertical-align: top;
}
#fs .service .service_corner_ico {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border: solid;
  border-width: 2px 6px;
  border-color: #e01121 #e01121 #fff;
}

#seckill .lingquan {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#seckill .lingquan .ling1 {
  width: 60%;
}
#seckill .lingquan .ling2 {
  width: 35%;
}
#seckill .lingquan p {
  background: #4998a1;
  height: 55px;
  line-height: 55px;
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-indent: 30px;
  border-radius: 10px;
}
#seckill .lingquan ul {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
#seckill .lingquan li {
  border-right: 1px solid #CCCCCC;
  display: flex;
  width: 24%;
  height: 215px;
  position: relative;
}
#seckill .lingquan img {
  width: 140px;
  height: 140px;
  margin: 20px auto;
}
#seckill .findgoods {
  height: 444px;
  display: flex;
  justify-content: space-around;
}
#seckill .findgoods p {
  background: #4998a1;
  height: 55px;
  line-height: 55px;
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-indent: 30px;
  border-radius: 10px;
}
#seckill .findgoods div {
  width: 30%;
}
#seckill .findgoods ul {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
#seckill .findgoods li {
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  width: 50%;
  height: 120px;
  position: relative;
}
#seckill .findgoods span {
  font-size: 12px;
  color: #4998a1;
  position: absolute;
  top: 15px;
  left: 20px;
  width: 80px;
  line-height: 20px;
  /*padding:5px;*/
}
#seckill .findgoods img {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 80px;
  height: 80px;
}
#seckill .findgoods span,
#seckill .findgoods img {
  width: 50%;
}
#seckill .box_hd {
  position: relative;
  padding: 0 20px 0 30px;
  height: 55px;
  line-height: 55px;
  color: #fff;
  background: url("../img/seckill_hd.png") no-repeat 0 0;
}
#seckill .box_hd_dec {
  background: url("../img/sprite_index@1x.png") no-repeat -190px -48px;
  background-size: 218px 188px;
  width: 28px;
  height: 28px;
  position: absolute;
  left: -4px;
}
#seckill .box_hd_icon {
  margin-top: 8px;
  margin-right: 8px;
  background: url("../img/sprite_index@1x.png") no-repeat 0 -40px;
  background-size: 218px 188px;
  width: 34px;
  height: 40px;
  float: left;
}
#seckill .box_tit {
  font-family: fzzhengheis-el-gbregular;
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  height: 40px;
  padding-top: 9px;
  float: left;
}
#seckill .box_subtit {
  float: left;
  margin-left: 12px;
  margin-top: 19px;
  padding-right: 20px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  color: #fff;
  position: relative;
}
#seckill .box_subtit_arrow {
  position: absolute;
  right: 0;
  top: 4px;
  background: url("../img/sprite_index@1x.png") no-repeat -154px -40px;
  background-size: 218px 188px;
  width: 15px;
  height: 16px;
}
#seckill .sk_cd_tip {
  line-height: 45px;
  padding-top: 10px;
  font-size: 14px;
}
#seckill .cd_split {
  float: left;
  margin: 22px 4px 0;
  width: 4px;
  height: 12px;
  font-size: 0;
  line-height: 0;
}
#seckill .cd_split_dot {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #440106;
}
#seckill .cd_split_top {
  margin-bottom: 4px;
}
#seckill .cd_split_bottom {
  top: 30px;
}
#seckill .sk_cd_main {
  float: left;
  margin-left: 6px;
  margin-right: 8px;
}
#seckill .cd_item {
  float: left;
  width: 35px;
  height: 37px;
  background-color: #440106;
  color: #f90013;
  font-size: 24px;
  font-family: Arial;
  font-weight: 700;
  border-radius: 3px;
  text-align: center;
  line-height: 37px;
  margin-top: 10px;
}
#seckill .box_bd {
  padding: 12px 0 13px;
  height: 225px;
}
#seckill .sk-list {
  width: 1000px;
  position: relative;
}
#seckill .sk-list #list {
  position: relative;
  width: 1000px;
  overflow: hidden;
  height: 250px;
}
#seckill .sk-list ul {
  position: absolute;
  height: 250px;
  width: 6000px;
}
#seckill .sk-list .sk_controls_item {
  position: absolute;
  display: block;
  z-index: 40;
  top: 50%;
  width: 20px;
  height: 50px;
  background: #f1f1f1;
  background: rgba(0, 0, 0, 0.5);
  line-height: 50px;
  text-align: center;
}
#seckill .sk-list .sk_controls_item .iconfont {
  font-size: 20px;
  color: #272526;
}
#seckill .sk-list .sk_controls_prev {
  top: 60px;
  left: 7px;
}
#seckill .sk-list .sk_controls_next {
  top: 60px;
  right: 7px;
}
#seckill .sk-list .sk-item {
  float: left;
  width: 170px;
  height: 225px;
  border-right: 1px solid #e7e7e7;
  position: relative;
}
#seckill .sk-list .sk-item div {
  position: relative;
  text-align: center;
}
#seckill .sk-list .sk-item a {
  display: block;
  outline: 0;
}
#seckill .sk-list .sk-item a img {
  width: 130px;
  height: 130px;
  margin: 17px 0;
}
#seckill .sk-list .sk-item a p {
  overflow: hidden;
  font-size: 12px;
  text-align: left;
  height: 32px;
  line-height: 16px;
  word-wrap: break-word;
  word-break: break-all;
}
#seckill .sk-list .sk-item a span {
  position: absolute;
  left: 0;
  top: 130px;
  text-align: center;
  background: url("../img/sprite_index@1x.png") no-repeat;
  background-size: 218px 188px;
  width: 170px;
  height: 20px;
}
#seckill .sk-list .sk-item .sk_item_price {
  padding: 3px 0;
  height: 25px;
}
#seckill .sk-list .sk-item .sk_item_price_new {
  font-size: 18px;
  font-weight: 700;
  margin-right: 8px;
  color: #f10214;
}
#seckill .sk-list .sk-item .sk_item_price_origin {
  color: #999;
  font-size: 12px;
}
#seckill .sk-list .sk-item .sk_item_shadow {
  position: absolute;
  left: 0;
  top: 130px;
  text-align: center;
  background: url("../img/sprite_index@1x.png") no-repeat;
  background-size: 218px 188px;
  width: 170px;
  height: 20px;
}
#seckill .sk-special {
  position: relative;
  margin: 0 10px 0 0;
}
#seckill .sk-special ol {
  position: absolute;
  left: 50%;
  margin-left: -16px;
  width: 32px;
  height: 10px;
  bottom: 15px;
  z-index: 5;
  font-size: 0;
  display: flex;
  justify-content: space-around;
}
#seckill .sk-special ol li {
  width: 10px;
  height: 10px;
  background-color: #342a2d;
  border-radius: 50%;
}
#seckill .sk-special ol .active {
  background-color: #e01222;
}
#seckill .special-list {
  position: relative;
  width: 180px;
  height: 225px;
}
#seckill .special-list li {
  position: absolute;
}

#loutinav {
  width: 35px;
  position: fixed;
  top: 100px;
  left: 50px;
  border: 1px solid #ddd;
  display: none;
}

#loutinav ul li {
  width: 35px;
  height: 32px;
  border-bottom: 1px solid #b1aaaa;
  list-style: none;
  font-size: 12px;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 10px 0;
  background: #918888;
  color: #fff;
}

#loutinav ul li span {
  width: 35px;
  height: 32px;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
}

#loutinav ul li .last {
  background: #5e4a4a;
  color: #fff;
  border-bottom: 1px solid #ddd;
}

#loutinav .active span {
  background: #d70b1c;
  color: #fff;
  display: block;
}

#headerlt {
  width: 100%;
  height: 100%;
}

.mid1 {
  padding: 30px 0;
  background: #f6f6f6;
}
.mid1 li {
  float: left;
}

#mainlt {
  background: #f6f6f6;
  margin: 0 auto;
}
#mainlt .loutimain {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#mainlt .mainleft,
#mainlt .mainright {
  width: 49%;
  background: white;
  /*.loutiline1*/
  /*.loutiline2*/
  /*loutiline3*/
}
#mainlt .mainleft .p-span,
#mainlt .mainright .p-span {
  background: #974676;
  height: 55px;
  line-height: 55px;
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-indent: 30px;
  border-radius: 10px;
  position: relative;
}
#mainlt .mainleft .p-span p,
#mainlt .mainright .p-span p {
  height: 100%;
}
#mainlt .mainleft .loutiline1,
#mainlt .mainright .loutiline1 {
  display: flex;
  justify-content: space-around;
}
#mainlt .mainleft .datu,
#mainlt .mainright .datu {
  width: 33%;
  height: 260px;
}
#mainlt .mainleft .xiaotu,
#mainlt .mainright .xiaotu {
  width: 66%;
}
#mainlt .mainleft .xiaotu ul,
#mainlt .mainright .xiaotu ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#mainlt .mainleft .xiaotu li,
#mainlt .mainright .xiaotu li {
  width: 48%;
  height: 130px;
  display: flex;
  position: relative;
}
#mainlt .mainleft .xiaotu span,
#mainlt .mainright .xiaotu span {
  font-size: 12px;
  color: #4998a1;
  position: absolute;
  top: 15px;
  left: 20px;
  width: 50%;
  line-height: 20px;
  /*padding:5px;*/
}
#mainlt .mainleft .xiaotu li img,
#mainlt .mainright .xiaotu li img {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 50%;
}
#mainlt .mainleft .borderbr,
#mainlt .mainright .borderbr {
  border-bottom: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}
#mainlt .mainleft .bordertl,
#mainlt .mainright .bordertl {
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
}
#mainlt .mainleft .loutiline2,
#mainlt .mainright .loutiline2 {
  display: flex;
  justify-content: space-around;
}
#mainlt .mainleft a,
#mainlt .mainright a {
  display: inline-block;
  height: 130px;
  width: 33%;
}
#mainlt .mainleft .loutiline2 img,
#mainlt .mainright .loutiline2 img {
  width: 100%;
  height: 100%;
}
#mainlt .mainleft .loutiline3 ul,
#mainlt .mainright .loutiline3 ul {
  display: flex;
  justify-content: space-around;
}
#mainlt .mainleft .loutiline3 li,
#mainlt .mainright .loutiline3 li {
  width: 15%;
}
#mainlt .fuzhuang .ltmp1 {
  background: #974676;
}
#mainlt .fuzhuang .ltmp2 {
  background: #cd375e;
}
#mainlt .jiadian .ltmp1 {
  background: #78538e;
}
#mainlt .jiadian .ltmp2 {
  background: #5e6c90;
}
#mainlt .wansanc .ltmp1 {
  background: #3aaba9;
}
#mainlt .wansanc .ltmp2 {
  background: #568e7d;
}

#mainlt .ftit_inner {
  overflow: hidden;
  padding: 0 0 20px;
  height: 35px;
  background: url(../img/loutibg.png) repeat-x 0 18px;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
}
#mainlt h3 {
  display: inline;
  padding: 0 50px;
  background-color: #f6f6f6;
  font-weight: 400;
  font-size: 26px;
  color: #333;
  font-family: fzzhengheis-el-gbregular;
}

.louti {
  margin: 30px 0;
}

#footer {
  height: 500px;
  background-color: #eaeaea;
  padding-bottom: 67px;
}
#footer .mod_service {
  padding: 30px 0;
  border-bottom: 1px solid #dedede;
}
#footer .mod_service ul {
  overflow: hidden;
  height: 42px;
}
#footer .mod_service ul li {
  float: left;
  width: 297px;
}
#footer .mod_service_unit {
  position: relative;
  margin: 0 auto;
  padding-left: 45px;
  width: 180px;
}
#footer .mod_service_unit p {
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  font-weight: 700;
  color: #444;
}
#footer .mod_service_tit {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 42px;
  background-image: url(//misc.360buyimg.com/mtd/pc/index/2.0.0/home/images/ico_service.png);
  text-indent: -999px;
}
#footer .mod_service_duo {
  background-position: 0 0;
}
#footer .mod_service_kuai {
  background-position: 0 -43px;
}
#footer .mod_service_hao {
  background-position: 0 -86px;
}
#footer .mod_service_sheng {
  background-position: 0 -129px;
}
#footer .mod_help {
  padding: 20px 0;
}
#footer .mod_help_list {
  overflow: hidden;
  height: 160px;
}
#footer .mod_help_list .mod_help_nav {
  float: left;
  width: 198px;
  line-height: 22px;
}
#footer .mod_help_list .mod_help_nav a {
  color: #666;
}
#footer .mod_help_list .mod_help_nav_tit {
  margin-bottom: 5px;
  font-size: 14px;
}
#footer .mod_help_cover {
  float: right;
  width: 200px;
  height: 150px;
  background: url(//misc.360buyimg.com/mtd/pc/index/2.0.0/home/images/ico_footer.png) no-repeat 0 0;
}
#footer .mod_help_cover_tit {
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}
#footer .mod_help_cover_con {
  padding: 0 10px;
}
#footer .mod_help_cover_more {
  text-align: right;
}
#footer .mod_help_cover_more a {
  color: #666;
}
#footer .mod_copyright_inner {
  padding: 15px 0;
  border-top: 1px solid #e1e1e1;
  text-align: center;
}
#footer .mod_copyright_inner a {
  color: #666;
}
#footer .mod_copyright_split {
  margin: 0 10px;
  color: #ccc;
}
#footer .mod_copyright_info {
  padding: 10px 0;
  line-height: 22px;
  color: #999;
}
#footer .mod_copyright_info span {
  font-size: 12px;
}
#footer .mod_copyright_info a {
  color: #999;
}
#footer .mod_copyright_auth_ico {
  overflow: hidden;
  display: inline-block;
  margin: 0 3px;
  width: 103px;
  height: 32px;
  background-image: url(//misc.360buyimg.com/mtd/pc/index/2.0.0/home/images/ico_footer.png);
  line-height: 1000px;
}
#footer .mod_copyright_auth_ico_1 {
  background-position: 0 -151px;
}
#footer .mod_copyright_auth_ico_2 {
  background-position: -104px -151px;
}
#footer .mod_copyright_auth_ico_3 {
  background-position: 0 -184px;
}
#footer .mod_copyright_auth_ico_4 {
  background-position: -104px -184px;
}
#footer .mod_copyright_auth_ico_5 {
  background-position: 0 -217px;
}
#footer .mod_copyright_auth_ico_6 {
  background-position: -104px -217px;
}

/*# sourceMappingURL=index.css.map */
