body {
  font-size: 12px;
  color: #666;
  background: #fff;
}

li {
  list-style: none;
}

.wrap {
  margin: 0 auto;
  width: 990px;
}

#header .logo {
  position: relative;
  width: 300px;
  margin: 10px 0;
  height: 60px;
}
#header .logo img {
  border: 0;
  width: 170px;
  height: 60px;
  vertical-align: middle;
}
#header .logo b {
  display: block;
  width: 110px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("//misc.360buyimg.com/user/passport/1.0.0/css/i/l-icon.png") no-repeat;
}
#header .q-link {
  position: relative;
  color: #999;
  float: right;
  top: 52px;
}
#header .q-link b {
  display: inline-block;
  width: 18px;
  height: 14px;
  margin: 0 5px;
  background: url("//misc.360buyimg.com/user/passport/1.0.0/css/i/q-icon.png") no-repeat;
  vertical-align: middle;
}

#tip {
  background: #fff8f0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
#tip .tip-wrap {
  margin: auto;
  width: 90%;
}
#tip .tip-wrap i {
  background: url("//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2016-1124/i/icon-tips.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
#tip .tip-wrap p {
  vertical-align: middle;
  color: #999;
  font-size: 12px;
  display: inline-block;
}
#tip .tip-wrap p a {
  color: #333;
}

#main {
  height: 475px;
  width: 100%;
  background: #e93854;
}
#main .main-bg {
  height: 475px;
  background: url("//img13.360buyimg.com/da/jfs/t2749/276/1020747574/33213/870500f1/5731485aN1134b4f0.png") no-repeat;
}
#main .login-form {
  top: 10px;
  position: relative;
  z-index: 4;
  background: #fff;
  overflow: visible;
  width: 346px;
}
#main .main-head {
  background: #fff8f0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
#main .main-head .wrap {
  width: 90%;
}
#main .main-head i {
  background: url("//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2016-1124/i/icon-tips.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
#main .main-head p {
  vertical-align: middle;
  color: #999;
  font-size: 12px;
  display: inline-block;
}
#main .login-tab {
  height: 54px;
  background: #fff;
}
#main .login-tab div {
  width: 49%;
  text-align: center;
  border-bottom: 1px solid #f4f4f4;
  padding: 18px 0;
}
#main .login-tab div a {
  width: 100%;
  display: inline-block;
  height: 18px;
  text-align: center;
  font-size: 18px;
}
#main .login-tab div .codelogin {
  font-weight: 700;
  color: #e4393c;
  border-right: 1px solid #f4f4f4;
}
#main .login-tab div .namelogin {
  font-weight: normal;
}
#main .login-tab div a:hover {
  font-weight: 700;
  color: #e4393c;
}
#main .qrcode-login {
  width: 306px;
  text-align: center;
  margin: 20px auto;
}
#main .qrcode-login .qrcode {
  border: 1px solid #f4f4f4;
  padding: 8px;
  width: 155px;
  margin: auto;
}
#main .qrcode-login .qrcode-panel {
  width: 257px;
  margin: 18px auto 14px;
  text-align: center;
}
#main .qrcode-login .qrcode-panel a {
  color: #e4393c;
}
#main .qrcode-login .qrcode-adv {
  width: 306px;
  margin: 0 auto;
  margin-left: 40px;
}
#main .qrcode-login .qrcode-adv li {
  float: left;
  width: 68px;
  height: 25px;
  text-align: left;
  position: relative;
  margin-right: 18px;
}
#main .qrcode-login .qrcode-adv i {
  width: 25px;
  height: 25px;
  display: block;
  background: url("//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2016-1124/i/qr-coagent.png") no-repeat;
  margin: 0 auto;
  position: absolute;
  left: 0;
}
#main .qrcode-login .qrcode-adv em {
  position: absolute;
  padding-left: 32px;
  padding-top: 5px;
  color: #999;
}

/*# sourceMappingURL=login.css.map */
