body {
  font: 12px;
  color: #666;
  background: #fff;
}

li {
  list-style: none;
}

.wrap {
  margin: 0 auto;
  width: 990px;
}

#header .logo {
  position: relative;
  width: 300px;
  margin: 10px 0;
  height: 60px;
}
#header .logo img {
  border: 0;
  width: 170px;
  height: 60px;
  vertical-align: middle;
}
#header .logo b {
  display: block;
  width: 110px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("//misc.360buyimg.com/user/passport/1.0.0/css/i/l-icon.png") no-repeat;
}
#header .q-link {
  position: relative;
  color: #999;
  float: right;
  top: 52px;
}
#header .q-link b {
  display: inline-block;
  width: 18px;
  height: 14px;
  margin: 0 5px;
  background: url("//misc.360buyimg.com/user/passport/1.0.0/css/i/q-icon.png") no-repeat;
  vertical-align: middle;
}

#tip {
  background: #fff8f0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
#tip .tip-wrap {
  margin: auto;
  width: 90%;
}
#tip .tip-wrap i {
  background: url("//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2016-1124/i/icon-tips.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
#tip .tip-wrap p {
  vertical-align: middle;
  color: #999;
  font-size: 12px;
  display: inline-block;
}
#tip .tip-wrap p a {
  color: #333;
}

#main {
  height: 475px;
  width: 100%;
  background: #e93854;
}
#main .main-bg {
  height: 475px;
  background: url("//img13.360buyimg.com/da/jfs/t2749/276/1020747574/33213/870500f1/5731485aN1134b4f0.png") no-repeat;
}
#main .login-form {
  top: 10px;
  position: relative;
  z-index: 4;
  background: #fff;
  overflow: visible;
  width: 346px;
}
#main .main-head {
  background: #fff8f0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
#main .main-head .wrap {
  width: 90%;
}
#main .main-head i {
  background: url("//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2016-1124/i/icon-tips.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
#main .main-head p {
  vertical-align: middle;
  color: #999;
  font-size: 12px;
  display: inline-block;
}
#main .login-tab {
  height: 54px;
  background: #fff;
}
#main .login-tab div {
  width: 49%;
  text-align: center;
  border-bottom: 1px solid #f4f4f4;
  padding: 18px 0;
}
#main .login-tab div a {
  width: 100%;
  display: inline-block;
  height: 18px;
  text-align: center;
  font-size: 18px;
}
#main .login-tab div .codelogin {
  font-weight: 700;
  color: #e4393c;
  border-right: 1px solid #f4f4f4;
}
#main .login-tab div .namelogin {
  font-weight: normal;
}
#main .username-login {
  width: 306px;
  text-align: center;
  margin: 30px auto;
  position: relative;
  display: none;
}
#main .username-login .msg-error {
  visibility: hidden;
  position: relative;
  top: -10px;
  background: #ffebeb;
  color: #e4393c;
  border: 1px solid #faccc6;
  line-height: 20px;
  height: 20px !important;
  margin: 5px 0;
  font-size: 12px;
}
#main .username-login .msg-error b {
  position: absolute;
  top: 50%;
  left: 10px;
  display: block;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2016-1124/i/pwd-icons-new.png) -104px -49px no-repeat;
}
#main .username-login .item {
  position: relative;
  margin-bottom: 20px;
  width: 304px;
  border: 1px solid #bdbdbd;
  height: 38px;
}
#main .username-login .item label {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  border-right: 1px solid #bdbdbd;
  background: url("../img/pwd-icons-new.png") no-repeat;
}
#main .username-login .item input {
  line-height: 18px;
  height: 18px;
  border: 0;
  padding: 10px 0 10px 50px;
  width: 254px;
  float: none;
  overflow: hidden;
  font-size: 14px;
}
#main .username-login .item span {
  position: absolute;
  z-index: 20;
  right: 6px;
  top: 12px;
  width: 14px;
  height: 14px;
  background: url("../img/pwd-icons-new.png") -25px -143px no-repeat;
  cursor: pointer;
  display: none;
}
#main .username-login .item-fore1 label {
  background-position: 0 0;
}
#main .username-login .item-fore2 label {
  background-position: -48px 0;
}
#main .username-login .item-fore3 {
  border: 0;
  height: 20px;
}
#main .username-login .item-fore3 a {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  line-height: 20px;
}
#main .username-login .item-fore4 {
  border: 0;
  margin-bottom: 10px;
}
#main .username-login .item-fore4 div {
  border: 1px solid #cb2a2d;
  margin: 0 auto;
  height: 32px;
  width: 99%;
  position: relative;
}
#main .username-login .item-fore4 .btn-img {
  border: 1px solid #e85356;
  width: 302px;
  background: #e4393c;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: 3px;
}
#main .qrcode-login {
  width: 306px;
  text-align: center;
  margin: 30px auto;
  position: relative;
}
#main .qrcode-login .zhezhao {
  visibility: hidden;
  position: absolute;
  width: 170px;
  background: #000;
  filter: alpha(opacity=60);
  opacity: .6;
  height: 163px;
  left: 66px;
  z-index: 60;
  top: 0;
  text-align: center;
  line-height: 100px;
}
#main .qrcode-login .qrcode1 {
  border: 1px solid #f4f4f4;
  padding: 8px;
  width: 155px;
  margin: auto;
  background-color: white;
  position: relative;
}
#main .qrcode-login .qrcode1 .qrcode-text {
  position: relative;
}
#main .qrcode-login .qrcode1 img {
  background: #000;
}
#main .qrcode-login .qrcode1 a {
  background: #e4393c;
  width: 80px;
  height: 30px;
  position: absolute;
  top: 95px;
  left: 42px;
  line-height: 30px;
  visibility: hidden;
  z-index: 70;
  color: #fbfbfb;
}
#main .qrcode-login .qrcode-help {
  position: absolute;
  right: -18px;
  top: -2px;
  width: 141px;
  height: 168px;
  background: url("//misc.360buyimg.com/user/passport/1.0.0/css/i/phone-orange.png") no-repeat;
  z-index: 50;
  display: none;
}
#main .qrcode-login .qrcode-panel {
  width: 257px;
  margin: 18px auto;
  text-align: center;
}
#main .qrcode-login .qrcode-panel a {
  color: #e4393c;
}
#main .qrcode-login .qrcode-panel span,
#main .qrcode-login .qrcode-panel a {
  font-size: 12px;
}
#main .qrcode-login .qrcode-adv {
  width: 306px;
  margin: 0 auto;
  margin-left: 40px;
  font-size: 12px;
}
#main .qrcode-login .qrcode-adv li {
  float: left;
  width: 68px;
  height: 25px;
  text-align: left;
  position: relative;
  margin-right: 18px;
}
#main .qrcode-login .qrcode-adv i {
  width: 25px;
  height: 25px;
  display: block;
  background: url("../img/qr-coagent.png") no-repeat;
  margin: 0 auto;
  position: absolute;
  left: 0;
}
#main .qrcode-login .qrcode-adv em {
  position: absolute;
  padding-left: 32px;
  padding-top: 5px;
  color: #999;
}
#main .main-foot {
  padding: 0 20px;
  line-height: 50px;
  border-top: 1px solid #f4f4f4;
  background-color: #fcfcfc;
}
#main .main-foot a {
  display: inline-block;
  position: relative;
  padding-left: 24px;
}
#main .main-foot span {
  color: #ccc;
  padding: 0 10px;
  color: #666;
}
#main .main-foot .micon {
  width: 19px;
  height: 18px;
  display: block;
  background: url("../img/QQ-weixin.png") no-repeat;
  margin: 0 auto;
  position: absolute;
  float: left;
  left: 0;
  top: 16px;
}
#main .main-foot .weixin-icon {
  background-position: -20px 0;
}
#main .main-foot .regist-link a {
  color: #b61d1d;
  font-size: 14px;
}
#main .main-foot .regist-link b {
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  background: url("../img/pwd-icons-new.png") -104px -75px no-repeat;
  vertical-align: middle;
  margin-right: 5px;
}

.footer {
  font-size: 12px;
  text-align: center;
  border-top: solid 1px #e6e6e6;
  color: #666;
  padding-bottom: 30px;
}
.footer .links {
  padding-top: 30px;
  padding-bottom: 15px;
}
.footer .links a {
  color: #666;
  margin: 0 10px;
  font-size: 12px;
  text-align: center;
}

/*# sourceMappingURL=login.css.map */
