body,
html,
.largest {
  width: 100%;
  height: 100%;
}

.largest {
  position: relative;
}

.zhezhao {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0.15;
  z-index: 9998;
  background-color: black;
  width: 100%;
  height: 1002px;
}

.wrap {
  margin: 0 auto;
  width: 1210px;
}

input {
  display: inline-block;
  outline: 0;
}

input::-webkit-input-placeholder {
  color: #ccc !important;
}

.header {
  height: 110px;
  background: url("//misc.360buyimg.com/user/reg/1.0.0/css/i/headbg.jpg") repeat-x left bottom;
}
.header .logo {
  width: 160px;
  height: 50px;
  float: left;
  margin-top: 24px;
  background: url("//misc.360buyimg.com/user/reg/1.0.0/css/i/icon.png") no-repeat no-repeat;
}
.header .title {
  float: left;
  height: 34px;
  line-height: 34px;
  font-size: 24px;
  color: #333;
  padding-left: 20px;
  margin-top: 34px;
}
.header .have-account {
  font-size: 16px;
  float: right;
  margin-top: 55px;
  color: #999;
}
.header .have-account a {
  color: #333;
}

.section .main {
  margin: 50px auto 60px;
  width: 830px;
}
.section .main .line {
  height: 86px;
  position: relative;
}
.section .main .orEmail {
  position: absolute;
  right: 0;
  bottom: 6px;
  font-size: 12px;
}
.section .main .orEmail a {
  color: #38f;
}
.section .main .form-item {
  position: relative;
  border: solid 1px #ddd;
  width: 398px;
  height: 52px;
}
.section .main label {
  float: left;
  width: 90px;
  height: 52px;
  line-height: 52px;
  padding-left: 20px;
}
.section .main .field {
  border: none;
  width: 190px;
  height: 19px;
  padding: 16px 0 11px 20px;
}
.section .main .ran-code {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 110px;
  height: 46px;
  cursor: pointer;
  line-height: 46px;
  text-align: center;
}
.section .main .img-code {
  font-size: 28px;
}
.section .main .phone-code {
  background: #eee;
}
.section .main .i-status {
  position: absolute;
  display: none;
  width: 16px;
  height: 16px;
  top: 20px;
  right: 20px;
  background: url("../img/icon.png") 0 -117px no-repeat;
}
.section .main .input-tip {
  color: #c5c5c5;
  height: 27px;
  padding-top: 5px;
  display: none;
}
.section .main .input-tip .ii {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("//misc.360buyimg.com/user/reg/1.0.0/css/i/icon.png") no-repeat;
  background-position: 0 -100px;
}
.section .main .input-tip span {
  font-size: 12px;
}
.section .main .btn-register {
  width: 100%;
  height: 54px;
  color: #fff;
  background: #e22;
  border: 0;
  font-size: 16px;
  padding: 1px 6px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.section .main .reg-form {
  width: 400px;
  float: left;
}
.section .main .reg-other {
  float: left;
  margin-left: 104px;
  height: 605px;
  padding-left: 90px;
  border-left: solid 1px #e6e6e6;
}
.section .main .company-reg {
  width: 160px;
  height: 60px;
  border-bottom: solid 1px #ddd;
  margin-left: 30px;
}
.section .main .company-reg a {
  display: block;
  width: 160px;
  height: 30px;
}
.section .main .company-reg a i {
  display: inline-block;
  width: 30px;
  height: 29px;
  vertical-align: middle;
  margin-right: 15px;
  background: url("//misc.360buyimg.com/user/reg/1.0.0/css/i/icon.png") no-repeat;
  background-position: 0 -50px;
}
.section .main .inter-cust {
  width: 160px;
  margin-left: 30px;
  margin-top: 30px;
}
.section .main .inter-cust a {
  display: block;
  width: 170px;
  height: 40px;
}
.section .main .inter-cust a i {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: text-bottom;
  margin-right: 15px;
  float: left;
  margin-top: 7px;
  background: url("//misc.360buyimg.com/user/reg/1.0.0/css/i/icon.png") no-repeat;
  background-position: -50px -50px;
}

.footer {
  font-size: 12px;
  text-align: center;
  border-top: solid 1px #e6e6e6;
  color: #999;
  padding-bottom: 30px;
}
.footer .links {
  padding-top: 30px;
  padding-bottom: 15px;
}
.footer .links a {
  color: #999;
  margin: 0 10px;
  font-size: 12px;
  text-align: center;
}

.ui-dialog {
  width: 947px;
  position: fixed;
  z-index: 10000;
  display: block;
  overflow: hidden;
  top: 0px;
  left: 234px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px #ccc;
  font-size: 14px;
  font-family: "Microsoft YaHei", "Hiragino Sans GB";
}

.ui-dialog-title {
  width: 927px;
  color: #000;
  font-weight: 700;
  position: relative;
  padding: 0 10px;
  height: 31px;
  line-height: 31px;
  background: #f3f3f3;
  font-size: 14px;
  color: #666;
  font-family: "Microsoft YaHei";
}
.ui-dialog-title span {
  color: #000;
}

.ui-dialog-content {
  height: 545px;
  width: 927px;
  overflow: hidden;
  padding: 10px;
  background: #fff;
  user-select: none;
}

.protocol-con {
  height: 426px;
  padding: 10px;
  line-height: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 25px;
}

.protocol-button {
  text-align: center;
}
.protocol-button a {
  display: inline-block;
  width: 200px;
  height: 54px;
  line-height: 54px;
  color: #999;
  vertical-align: middle;
  margin-right: 30px;
  background: #e3e4e5;
  font-size: 16px;
}
.protocol-button button {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
  margin: 0 auto;
  height: 54px;
  color: #fff;
  background: #e22;
  border: 0;
  font-size: 16px;
  font-family: "Microsoft YaHei", "Hiragino Sans GB";
  outline: 0;
  cursor: pointer;
}

.ui-dialog-close {
  background: url("//misc.360buyimg.com/user/reg/1.0.0/widget/personal-reg-1130/i/x.png") no-repeat;
  background-size: 13px 13px;
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 100000;
  top: 10px;
  right: 10px;
  overflow: hidden;
  width: 13px;
  height: 13px;
  font-size: 0;
}

/*# sourceMappingURL=register.css.map */
