html,
body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

img {
    border: none;
}

a {
    color: #666;
}

i {
    cursor: default;
    font-style: normal;
}

.redcolor {
    color: #c81623 !important;
}

.wrap {
    width: 990px;
    margin: 0 auto;
}

.header {
    padding: 15px 0 10px 0;
    overflow: hidden;
}

.header .logo {
    width: 270px;
    padding-left: 5px;
    position: relative;
    float: left;
}

.header .logo .link1 {
    display: block;
}

.header .logo .link2 {
    position: absolute;
    right: 0;
    top: 10px;
    background: white;
}

.link2 b {
    display: block;
    width: 100px;
    height: 40px;
    background: url(../images/cart-icon.png) no-repeat 10px;
}

.cart-search {
    float: right;
    border: 2px solid #c91623;
    height: 24px;
    margin-top: 20px;
    overflow: hidden;
}

.cart-search #search {
    width: 260px;
    height: 18px;
    padding: 3px 5px;
    color: rgb(153, 153, 153);
    float: left;
}

.cart-search #btn {
    width: 48px;
    height: 24px;
    float: left;
    background: #c91623;
    color: white;
    text-align: center;
    font-weight: 700;
}

.empty-cart {
    height: 98px;
    padding: 80px 0 120px;
    color: #333;
}

.empty-cart-msg {
    height: 98px;
    line-height: 20px;
    font-size: 14px;
    padding-left: 341px;
    padding-top: 25px;
    background: url(../images/no-login-icon.png) 250px 22px no-repeat;
}

.empty-cart-msg a {
    display: block;
    color: #005ea7;
}

.cart-top {
    margin-top: 10px;
}

.cart-top-left {
    height: 26px;
    font-size: 16px;
    line-height: 36px;
    float: left;
    font-weight: 700;
}

.cart-top-left a {
    color: #e4393c;
}

.cart-top-left a em {
    margin-right: 5px;
}

.cart-top-right {
    float: right;
    margin-bottom: 10px;
}

.cart-top-right span {
    height: 26px;
    line-height: 26px;
    float: left;
}

.cart-top-right .jdarea {
    height: 26px;
    float: left;
}

.jdarea .areawrap {
    float: left;
    position: relative;
    top: 0;
    height: 23px;
    background: #fff;
    border: 1px solid #CECBCE;
    padding: 0 20px 0 4px;
    line-height: 23px;
    overflow: hidden;
}

.areawrap b {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
    height: 24px;
    background-image: url(../images/area_arrow.png);
    background-position: 0 0;
    overflow: hidden;
}

.cart-top .footline {
    clear: both;
    height: 1px;
    background: #e0e0e0;
    position: relative;
}

.footline .line {
    width: 80px;
    height: 2px;
    background: #e4393c;
    position: absolute;
    z-index: 2;
}

.goodslist {
    li {
        float: left;
        width: 180px;
        height: 200px;
        border: 1px solid #CCCCCC;
        padding: 10px;
        margin: 10px;
        text-align: center;
        position: relative;
    }
}

.clear:after {
    display: block;
    content: '';
    clear: both;
}

.goodslist {
    img {
        display: block;
        height: 160px;
        width: 180px;
    }
}

button {
    margin: 10px;
}

table {
    img {
        width: 80px;
        height: 80px;
    }
}

.goodslist {
    position: absolute;
}

.tab {
    position: relative;
}

td {
    padding: 5px 15px;
    height: 80px;
}

.pos {
    float: right;
}