%ell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@font-face {
    font-family: iconfont;
    src: url('../font/iconfont.eot') format('embedded-opentype'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg') format('svg')
}

.iconfont {
    font-family: iconfont!important;
    font-style: normal;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}

* {
    margin: 0;
    padding: 0;
    color: #666;
}

a {
    color: #666;
    text-decoration: none;
}

.wrap {
    margin: 0 auto;
    width: 1210px;
}

#event {
    position: relative;
    margin-top: 2px;
    .wrap {
        position: relative;
    }
    a {
        display: block;
        width: 100%;
        height: 70px;
        background: url('//img20.360buyimg.com/da/jfs/t12886/81/1761058146/46816/91228646/5a289bacN8dac26d8.jpg') no-repeat 50% 0;
    }
}

#shortcut {
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
    font-size: 12px;
    .wrap {
        height: 30px;
        line-height: 30px;
        color: #999;
        .dropparent {
            position: relative;
            margin-left: 200px;
            height: 28px;
            line-height: 28px;
            margin-top: 2px;
        }
        .subdrop {
            position: absolute;
            top: 28px;
            left: 0;
            width: 300px;
            z-index: 60;
            border: 1px solid #ccc;
            border-top: none;
            background-color: white;
            box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
            display: none;
            padding-top: 10px;
            li {
                float: left;
                border: none;
                width: 20%;
                text-align: center;
            }
        }
        .dropdown {
            padding-left: 7px;
            padding-right: 7px;
            border: 1px solid #e3e4e5;
            border-bottom: none;
            margin-left: -200px;
        }
    }
    .nav-li {
        margin-right: 8px;
        li {
            float: left;
            height: 15px;
            line-height: 15px;
            border-left: solid 1px #ccc;
            margin: 8px 0;
            padding: 3px 10px;
            list-style: none;
            position: relative;
            z-index: 21;
            .freereg {
                margin-left: 15px;
                color: #B61D1D;
            }
            i {
                position: absolute;
                right: 5px;
                top: 5px;
                width: 12px;
                height: 12px;
                line-height: 12px;
            }
        }
    }
    .cw-icon {
        padding-right: 20px!important;
        position: relative;
        float: left;
    }
    .submyjd,
    .subservice,
    .subweb {
        position: absolute;
        top: 21px;
        left: -1px;
        width: 280px;
        z-index: 60;
        border: 1px solid #ccc;
        border-top: none;
        background-color: white;
        box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
        display: none;
        ul {
            padding: 10px 0;
        }
        .spec {
            width: 90%;
            font-weight: 700;
            font-size: 12px;
            color: #666;
        }
        li {
            border: none;
            width: 40%;
            margin: 2px;
            margin-left: 5px;
        }
        .list-top {
            border-bottom: 1px solid #ccc;
        }
    }
    .spesubweb {
        width: 1190px;
        left: -1036px;
        padding: 20px 0;
        ul {
            float: left;
            width: 285px;
            border-right: 1px solid #eee;
            padding-left: 11px;
            li {
                padding: 2px 4px;
                width: 25%;
            }
            .spec {
                margin: 5px 0;
            }
        }
    }
}

#header {
    .button {
        border-radius: 0;
        right: 0;
        width: 82px;
        height: 36px;
        line-height: 36px;
        border: none;
        background-color: #B61D1D;
        font-size: 16px;
        color: #fff;
        position: absolute;
        top: 0;
        outline: none;
    }
    .text {
        padding: 4px;
        width: 446px;
        height: 24px;
        border: 2px solid #B61D1D;
        line-height: 24px;
        font-size: 14px;
        color: #989898;
        outline: none;
        color: #666;
    }
    .wrap {
        position: relative;
        z-index: 10;
        height: 140px;
        .logo {
            position: absolute;
            top: 20px;
            width: 362px;
            height: 60px;
            background-color: #fff;
            .logo_tit_lk {
                overflow: hidden;
                float: left;
                display: block;
                width: 270px;
                height: 60px;
                background-image: url('//misc.360buyimg.com/jdf/1.0.0/unit/global-header/1.0.0/i/jdlogo-201708-@1x.png');
                background-repeat: no-repeat;
                text-indent: -999px;
            }
        }
        .search {
            .form {
                position: relative;
                left: 365px;
                top: 25px;
                width: 538px;
                height: 36px;
            }
            .text-ul {
                width: 497px;
                border: 1px solid #CCCCCC;
                position: absolute;
                left: 0;
                top: 33px;
                background-color: white;
                color: #666666;
                z-index: 95;
                font-size: 12px;
                display: none;
                li {
                    padding: 6px;
                    cursor: pointer;
                }
            }
        }
        #settleup {
            position: absolute;
            right: 65px;
            top: 25px;
            .ci-right {
                display: block;
                position: absolute;
                top: 11px;
                right: 10px;
                width: 7px;
                height: 13px;
                font: 400 13px/13px simsun;
                color: #999;
            }
            .cw-icon {
                padding: 0 28px 0 36px;
                width: 75px;
                height: 34px;
                background-color: #fff;
                text-align: center;
                line-height: 34px;
                position: relative;
                float: left;
                border: 1px solid #e3e4e5;
                .cartimg {
                    display: block;
                    position: absolute;
                    top: 9px;
                    left: 18px;
                    width: 18px;
                    height: 16px;
                    background: url('../img/jd2015img.png') 0 -58px no-repeat;
                }
                .ci-count {
                    position: absolute;
                    top: -4px;
                    left: 104px;
                    display: inline-block;
                    padding: 1px 2px;
                    font-size: 12px;
                    line-height: 12px;
                    color: #fff;
                    background-color: #c81623;
                    border-radius: 7px 7px 7px 0;
                    min-width: 12px;
                    text-align: center;
                }
            }
        }
        #hotwords {
            overflow: hidden;
            position: absolute;
            left: 365px;
            top: 65px;
            width: 550px;
            height: 20px;
            line-height: 20px;
            .style-red {
                color: #f10215;
            }
            a {
                float: left;
                margin-right: 10px;
                white-space: nowrap;
                color: #999;
            }
        }
    }
}

.det-nav {
    height: 44px;
    border-bottom: 2px solid #B1191A;
    .dropdown {
        width: 210px;
        height: 44px;
        background: #B1191A;
        a {
            display: block;
            width: 190px;
            height: 44px;
            padding: 0 10px;
            background: #B1191A;
            font: 400 15px/44px "microsoft yahei";
            color: #fff;
        }
        i {
            top: 20px;
            right: 7px;
            height: 7px;
            overflow: hidden;
            font: 700 20px/16px simsun;
            color: #fff;
            transition: transform .1s ease-in 0s;
            display: block;
            position: absolute;
            s {
                position: relative;
                top: -9px;
                color: #fff;
            }
        }
    }
    .navitems {
        li {
            float: left;
            a {
                height: 44px;
                padding: 0 20px;
                text-align: center;
                font-size: 15px;
                line-height: 44px;
                font-weight: 400;
                color: #333;
            }
        }
    }
}

.rootnav {
    background: #f2f2f2;
    .breadcrumb {
        margin-bottom: 0;
        padding-bottom: 0;
        height: 45px;
        line-height: 45px;
        padding: 0 0 4px 6px;
        vertical-align: baseline;
        strong {
            display: inline;
            font-weight: 700;
            line-height: 20px;
            a {
                font-size: 18px;
                font-family: "microsoft yahei";
            }
        }
        span {
            font-family: simsun;
        }
        a {
            font-size: 12px;
        }
    }
}

.product {
    .preview {
        padding-bottom: 15px;
        width: 378px;
        position: relative;
        .wwrap {
            position: relative;
            width: 1000px;
            height: 470px;
            #bf {
                width: 500px;
                height: 400px;
                border: 1px solid #000;
                float: left;
                overflow: hidden;
                position: relative;
                left: 10px;
                z-index: 50;
                display: none;
            }
            #bpic {
                width: 800px;
                height: 640px;
                position: absolute;
                left: 0px;
                top: 0px;
            }
        }
        img {
            border: 0;
            vertical-align: middle;
        }
        .spic-n1 {
            width: 350px;
            height: 350px;
            margin: 14px 0 14px 14px;
            position: relative;
            float: left;
            img {
                width: 350px;
                height: 350px;
            }
        }
        #sf {
            width: 50px;
            height: 50px;
            background: orange;
            opacity: 0.3;
            position: absolute;
            left: 0px;
            top: 0px;
            display: none;
        }
        #ulist {
            position: absolute;
            left: 0px;
            bottom: 15px;
            width: 402px;
            height: 56px;
            overflow: hidden;
        }
        #ulist a {
            float: left;
            width: 10px;
            height: 54px;
            border: 1px solid #ccc;
            text-decoration: none;
            line-height: 56px;
            text-align: center;
            background: #fff;
        }
        #list {
            float: left;
            margin-left: 18px;
            width: 372px;
            position: relative;
        }
        ul {
            list-style: none;
            float: left;
            position: absolute;
            left: 0px;
            top: 0px;
        }
        ul li {
            float: left;
            width: 56px;
            height: 56px;
            padding-right: 6px;
        }
        ul li img {
            width: 52px;
            height: 52px;
            border: 1px solid #ccc;
        }
        #right {
            position: absolute;
            right: 0px;
            top: 0px;
            color: #333;
        }
        #left {
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 2;
            color: #fff;
        }
        .report-btn {
            font-size: 12px;
        }
        .short-share {
            padding: 0 40px 0 34px;
            em {
                font-size: 12px;
            }
            b {
                position: absolute;
                display: inline-block;
                background: url(//static.360buyimg.com/item/main/1.0.38/css/i/newicon20140910.png) no-repeat 0 0;
            }
        }
        .share-list {
            padding: 0 10px 0 17px;
            position: relative;
            display: block;
            b {
                top: 2px;
                left: 0;
                height: 12px;
                overflow: hidden;
                width: 12px;
                background-position: -162px -296px;
            }
        }
        .choose-btn-coll {
            padding-left: 18px;
            position: relative;
            display: block;
            b {
                background-position: -177px -296px;
                width: 14px;
                height: 14px;
                top: 3px;
                margin-left: -15px;
            }
        }
    }
    .item-inner {
        padding-right: 244px;
        width: 588px;
    }
    .item-ext {
        width: 244px;
        margin-left: -244px;
        overflow: hidden;
        background: #fff;
    }
    #itemInfo {
        position: relative;
        width: 100%;
    }
    #name {
        padding: 15px 10px 10px 0;
        h1 {
            line-height: 1.5em;
            overflow: hidden;
            font-weight: 700;
            font-family: arial, "microsoft yahei";
            font-size: 16px;
        }
        .p-ad {
            font-family: arial, "microsoft yahei";
            color: #e3393c;
            font-size: 14px;
            line-height: 20px;
            word-break: break-all;
        }
        .p-author {
            padding-top: 10px;
            line-height: 20px;
            padding-bottom: 8px;
            a {
                color: #005aa0;
            }
        }
    }
    #summary {
        width: 100%;
        position: relative;
        z-index: 3;
        #summary-price {
            padding-top: 10px;
            padding-bottom: 0;
            padding-right: 81px;
            line-height: 30px;
            background: #f7f7f7;
            .dd {
                width: 432px;
                .p-price {
                    display: inline-block;
                    vertical-align: middle;
                    color: #e4393c;
                    font-size: 20px;
                }
                .p-discount {
                    margin-left: 3px;
                }
                .pricing {
                    color: #999;
                }
                del {
                    text-decoration: line-through;
                }
            }
        }
        .summary-top {
            position: relative;
            padding: 0 0 10px;
            margin-bottom: 10px;
            background: #f7f7f7;
        }
        #summary2 {
            position: relative;
            width: 516px;
            background: #f7f7f7;
            height: 60px;
        }
        .dt {
            float: left;
            width: 72px;
            display: inline;
            text-align: right;
            font-family: simsun;
        }
        #summary4 {
            .dt {}
            a {
                color: #e4393c;
                margin: 0 6px;
            }
        }
        #summary2,
        #summary3,
        #summary4 {
            padding-top: 10px;
        }
    }
}

.box2 {
    margin: 20px;
    height: 267px;
    margin-bottom: 50px;
    .wrap {
        border: 2px solid #666;
    }
    .renqi {
        height: 30px;
        background: #ACACAC;
        a {
            height: 34px;
            line-height: 34px;
            padding: 0 12px;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-top:2px solid red;
            color: #e4393c;
            background: white;
            padding: 5px;
        }
    }
    .mclist {
        margin-top: 10px;
        ul {
            height: 235px;
            display: flex;
            justify-content: space-around;
            li {
                margin-left: 10px;
            }
        }
    }
}

#footer {
    height: 500px;
    background-color: #eaeaea;
    padding-bottom: 67px;
    .mod_service {
        padding: 30px 0;
        border-bottom: 1px solid #dedede;
        ul {
            overflow: hidden;
            height: 42px;
            li {
                float: left;
                width: 297px;
            }
        }
    }
    .mod_service_unit {
        position: relative;
        margin: 0 auto;
        padding-left: 45px;
        width: 180px;
        p {
            @extend %ell;
            width: 100%;
            height: 42px;
            line-height: 42px;
            font-size: 18px;
            font-weight: 700;
            color: #444;
        }
    }
    .mod_service_tit {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 36px;
        height: 42px;
        background-image: url(//misc.360buyimg.com/mtd/pc/index/2.0.0/home/images/ico_service.png);
        text-indent: -999px;
    }
    .mod_service_duo {
        background-position: 0 0;
    }
    .mod_service_kuai {
        background-position: 0 -43px;
    }
    .mod_service_hao {
        background-position: 0 -86px;
    }
    .mod_service_sheng {
        background-position: 0 -129px;
    }
    .mod_help {
        padding: 20px 0;
    }
    .mod_help_list {
        overflow: hidden;
        height: 160px;
        .mod_help_nav {
            float: left;
            width: 198px;
            line-height: 22px;
            a {
                color: #666;
            }
        }
        .mod_help_nav_tit {
            margin-bottom: 5px;
            font-size: 14px;
        }
    }
    .mod_help_cover {
        float: right;
        width: 200px;
        height: 150px;
        background: url(//misc.360buyimg.com/mtd/pc/index/2.0.0/home/images/ico_footer.png) no-repeat 0 0;
    }
    .mod_help_cover_tit {
        margin-bottom: 15px;
        font-size: 14px;
        text-align: center;
    }
    .mod_help_cover_con {
        padding: 0 10px;
    }
    .mod_help_cover_more {
        text-align: right;
        a {
            color: #666;
        }
    }
    .mod_copyright_inner {
        padding: 15px 0;
        border-top: 1px solid #e1e1e1;
        text-align: center;
        a {
            color: #666;
        }
    }
    .mod_copyright_split {
        margin: 0 10px;
        color: #ccc;
    }
    .mod_copyright_info {
        padding: 10px 0;
        line-height: 22px;
        color: #999;
        span {
            font-size: 12px;
        }
        a {
            color: #999;
        }
    }
    .mod_copyright_auth_ico {
        overflow: hidden;
        display: inline-block;
        margin: 0 3px;
        width: 103px;
        height: 32px;
        background-image: url(//misc.360buyimg.com/mtd/pc/index/2.0.0/home/images/ico_footer.png);
        line-height: 1000px;
    }
    .mod_copyright_auth_ico_1 {
        background-position: 0 -151px;
    }
    .mod_copyright_auth_ico_2 {
        background-position: -104px -151px;
    }
    .mod_copyright_auth_ico_3 {
        background-position: 0 -184px;
    }
    .mod_copyright_auth_ico_4 {
        background-position: -104px -184px;
    }
    .mod_copyright_auth_ico_5 {
        background-position: 0 -217px;
    }
    .mod_copyright_auth_ico_6 {
        background-position: -104px -217px;
    }
}